* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: paleturquoise;
}

.title {
  background-color: teal;
  color: white;
}

#gifs {
    float: left;
}

#form {
    float:right;
    padding-top: 10px;
    background-color: whitesmoke;
    border-radius: 6px;
}

/* .together {
  display: inline-block;
  width: 300px;
  margin: 5px;
} */

.rating {
  text-align: center;
  font-weight: bold;

}

@media screen and (max-width: 980px) {
    .container { 
      width: 90%;
    }
  }

  @media screen and (max-width: 768px) {
    .container { 
      width: 90%;
    }
  }

  @media screen and (max-width: 640px) {
    .container { 
      width: 90%;
    }
/* 
    #form {
        position: fixed;
        right: 0;
        top: 0;
    } */
  }